# Задание 1. Исследование связей между двумя исследуемыми признаками.
## Условие задачи:
По 20 туристическим фирмам были установлены затраты на рекламную
кампанию и количество туристов, воспользовавшихся после ее проведения услугами каждой фирмы.
Определить коэффициент корреляции между исследуемыми признаками.

### Импорт библиотек

In [14]:
import pandas as pd
from math import sqrt
import matplotlib.pyplot as plt

### Создадим DataFrame со значениями таблицы

In [2]:
pred_base = {
    'Затраты на рекламу,y.e.(Xi)': [5, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 15, 16, 17, 18, 18, 19, 20, 20, 21],
    'Количество туристов воспользовавшихся услугами фирмы (Yi)': [720, 750, 800, 820, 800, 880, 950, 820, 900, 950, 920,
                                                                  980, 980, 970, 980, 1010, 1100, 1100, 1115, 1100]
}
base = pd.DataFrame(pred_base)
base

,"Затраты на рекламу,y.e.(Xi)",Количество туристов воспользовавшихся услугами фирмы (Yi)
0,5,720
1,5,750
2,7,800
3,8,820
4,9,800
5,10,880
6,11,950
7,12,820
8,13,900
9,14,950
10,15,920
11,15,980
12,16,980
13,17,970
14,18,980
15,18,1010
16,19,1100
17,20,1100
18,20,1115
19,21,1100

### Рассчитаем корреляцию

In [8]:

print(
    'Коэффициент корреляции между затратами на рекламу и количеством туристов воспользовавшихся услугами фирмы составляет: ',
    base.corr().to_dict()['Затраты на рекламу,y.e.(Xi)']['Количество туристов воспользовавшихся услугами фирмы (Yi)'])

Коэффициент корреляции между затратами на рекламу и количеством туристов воспользовавшихся услугами фирмы составляет:  0.9523045897895136

По таблице ![Таблица корреляции](image/img.png)
МЫ ДЕЛАЕМ ВЫВОД, ЧТО КОРРЕЛЯЦИЯ ОЧЕНЬ СИЛЬНАЯ

Оцените значимость коэффициента корреляции. С этой целью рассматриваются две гипотезы.
Основная Н0: xy=0 и альтернативная Н1: xy≠0. Для проверки гипотезы Н0 рассчитайте t-
статистику Стьюдента по формуле, указанной выше в ячейке С24. В нашем случае число степеней
свободы ν = n-2=20-2 = 18 и формула будет следующей: =C23*КОРЕНЬ(20-2)/КОРЕНЬ(1-(C23*C23))
5. Сравните полученное значение с критическим значением tν,α распределения Стьюдента. (При ν
=18 и доверительной вероятности α = 0,05, tν,α,табл = 1,734). Сделайте вывод о наличии связи между
исследуемыми величинами.

In [16]:
res = base.corr().to_dict()['Затраты на рекламу,y.e.(Xi)'][
          'Количество туристов воспользовавшихся услугами фирмы (Yi)'] * sqrt(20 - 2) / sqrt(
    1 - base.corr().to_dict()['Затраты на рекламу,y.e.(Xi)'][
        'Количество туристов воспользовавшихся услугами фирмы (Yi)'] ** 2)
print('t-статистика Стюдента равна: ',res)

t-статистика Стюдента равна:  13.240367764107233

In [19]:
print('для нашей задачи, что бы отвергнуть нулевую гипотезу нужно, чтобы критерий стьюдента был:\n',
      'либо больше 1,734\n'
      'либо меньше -1,734\n')
if res > 1.734:
    print('Наше значение больше порогового интервала- следовательно мы отвергаем нулевую гипотезу в сторону альтернативной')
elif res < -1.734:
    print('Наше значение меньше порогового интервала- следовательно мы отвергаем нулевую гипотезу в сторону альтернативной')
else:
    print('Наше значение входит в  пороговый интервала- следовательно мы не отвергаем нулевую гипотезу в сторону альтернативной')

для нашей задачи, что бы отвергнуть нулевую гипотезу нужно, чтобы критерий стьюдента был:
 либо больше 1,734
либо меньше -1,734

Наше значение больше порогового интервала- следовательно мы отвергаем нулевую гипотезу в сторону альтернативной